:root {
    --turqoise: hsl(161, 84%, 59%);
    --mint: hsl(154, 62%, 87%);
    --pine: hsl(163, 38%, 9%);
    --white: hsl(34, 100%, 99%);
    --dark: hsl(164, 17%, 21%);
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ══════════════════════════════════════════════════════════════════════════════════════
════════════════════════════════════════ GENERAL ════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

body {
    font-family: 'Poppins';
    background: var(--white);
    color: var(--pine);
    overflow-x: hidden;
}

h1 {
    font-size: 2rem;
    line-height: 2.9rem;
    font-weight: 600;
}

h2 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: normal;
}

p {
    font-size: 1.1rem;
    line-height: 2.2rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: var(--pine);
    text-decoration: none;
}

button {
    all: unset;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

input, textarea, select {
    all: unset;
    border: 3px solid var(--mint);
    border-radius: 18px;
    padding: 1rem;
}

.body__inner {
    display: flex;
}

.header__inner, .main__inner {
    padding: 6rem 6.9rem;
}

/* ══════════════════════════════════════════════════════════════════════════════════════
════════════════════════════════════════ HEADER ═════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */
/* ----------------------------------- Home banner ----------------------------------- */
header {
    max-width: 27.5rem;
    width: 100%;
    background-color: var(--mint);
    position: relative;
    top: 0;
    left: 0;
}

.header__inner {
    position: fixed;
    max-width: 27.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/header_background.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -15rem 115%;
}

/* -------------------------------------- Logo --------------------------------------- */

.logo {
    max-width: 10rem;
    margin-bottom: 6rem;
    transition: 0.3s ease;
}

.logo:hover {
    scale: 1.1;
    transition: 0.3s ease;
}

/* ---------------------------------- Recipes-link ----------------------------------- */

.recipes-link, .categories-link {
    display: flex;
    gap: 1.7rem;
    align-items: center;
    margin-bottom: 3.4rem;
}

.recipes-link::before, .categories-link::before {
    content: '';
    background-image: url(../img/svg/list-box-line-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 2.6rem;
    height: 2.6rem;
}

.recipes-link:hover, .categories-link:hover {
    text-decoration: underline;
}

/* -------------------------------- Categories-link ---------------------------------- */

.categories-link {
    margin-bottom: 1.7rem;
}

.categories-link::before {
    background-image: url(../img/svg/filter-line-svgrepo-com.svg);
}

/* ---------------------------------- Categories ------------------------------------- */

.categories__wrapper {
    margin-left: 2.6rem;
}

.categories__wrapper::after {
    content: '';
    background-image: url(../img/svg/double-arrow-right-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    margin-top: 2.6rem;
    margin-left: 4rem;
}

.reset-filters {
    margin-bottom: 1.7rem;
}

.categories {
    display: flex;
    flex-direction: column;
    height: 32vh;
    overflow-y: scroll;
}

.category {
    margin-bottom: 1.7rem;
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.category::before {
    content: '';
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border: 3px solid var(--pine);
    border-radius: 6px;
}

.category:hover, .reset-filters:hover {
    text-decoration: underline;
}

.category--active {
    text-decoration: underline;
}

.category--active::before {
    background-color: var(--pine);
}

/* ----------------------------------- Socials --------------------------------------- */

.socials {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.social {
    max-width: 1.7rem;
    width: 100%;
    opacity: 50%;
}

.social--youtube {
    max-width: 2.6rem;
}

.social:hover {
    opacity: 1;
}

/* ══════════════════════════════════════════════════════════════════════════════════════
═════════════════════════════════════════ MAIN ══════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

main {
    width: 100%;
}